$color-primary: #1c75e2;
// $color-primary: #9b5013;
// $color-primary: rgb(69, 185, 69);
// $color-primary: rgb(217, 74, 22);

@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";
@import "./Appbar.scss";
@import "./listen.scss";
@import "./emit.scss";
@import "./display.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: grey;
}

@media screen and (min-width: 1025px) {
  .grid-wrapper {
    height: 100vh;
  }
}

@media screen and (min-width: 1281px) {
  .grid-wrapper {
    height: 100vh;
  }
}
