.display-section {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  width: 100%;

  &::-webkit-scrollbar {
    width: 6px;
    /* width of the entire scrollbar */
  }

  &::-webkit-scrollbar-track {
    background: grey;
    /* color of the tracking area */
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-primary;
    /* color of the scroll thumb */
    border-radius: 30px;
    /* roundness of the scroll thumb */
    border: 3px solid $color-primary;
    /* creates padding around scroll thumb */
  }

  .align-mssg {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 5px;
  }

  .display-mssg {
    width: 50%;
    background-color: grey;
    color: white;
    margin: 15px;
    display: inline-block;
    border-radius: 0 20px 0 0;
  }
}
