.listen-event {
  margin-top: 40px;
  max-height: 60%;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 6px;
    /* width of the entire scrollbar */
  }

  &::-webkit-scrollbar-track {
    background: grey;
    /* color of the tracking area */
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-primary;
    /* color of the scroll thumb */
    border-radius: 30px;
    /* roundness of the scroll thumb */
    border: 3px solid $color-primary;
    /* creates padding around scroll thumb */
  }
}

.listen-bar {
  bottom: 0;
  margin: 1rem auto;

  input {
    width: 80%;
    padding: 0.6rem 0.6rem;
    border: none;
    outline: none;
    background: white;
    color: black;
    border-radius: 6px 0 0 6px;
  }

  input:focus {
    border: 3px solid rgb(28, 117, 226);
  }

  button {
    width: 20%;
    outline: none;
    border: none;
    padding: 0.6rem 0.6rem;
    background-color: $color-primary;
    color: white;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
  }
}

@media screen and (max-width: 600px) {
  .listen-event {
    max-height: 30%;
  }
}

@media screen and (max-width: 1000px) {
  .listen-event {
    max-height: 20%;
  }
}
